# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.vehicles.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\PC\Documents\Unity\vehicles\.idea\.idea.vehicles\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
