# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.Quick click.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\PC\Documents\Unity\Quick click\.idea\.idea.Quick click\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
