# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.John Lemon In Haunted Jaunt.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\PC\Documents\Unity\John Lemon In Haunted Jaunt\.idea\.idea.John Lemon In Haunted Jaunt\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
